body{
    font-family:  "Trebuchet MS",  sans-serif;
}

main{
    margin: 1% auto;
}

h3{
    border-left: 5px solid #163F7D;
    padding-left: 15px;
}
.module-left{
    border-right: 1px solid #dddddd;
}
